.footer__column-link {
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  text-decoration: none;
  color: white;
  opacity: 1;
  transition-property: opacity;
  transition-duration: 0.7s;
}
.footer__column-link:active {
  color: #2F80ED;
}
.footer__column-link:hover {
  opacity: 0.5;
  transition-property: opacity;
  transition-duration: 0.7s;
}
