.header__link {
  text-decoration: none;
  color: #2F80ED;
  opacity: 1;
  transition-property: opacity;
  transition-duration: 1.4s;
}
.header__link:hover {
  opacity: 0.5;
  transition-property: opacity;
  transition-duration: 0.7s;
}
