.khan__buy-link {
  text-decoration: none;
  z-index: 2;
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
  color: #2F80ED;
  opacity: 1;
  transition-property: opacity;
  transition-duration: 1.4s;
}
.khan__buy-link:hover {
  opacity: 0.5;
  transition-property: opacity;
  transition-duration: 0.7s;
}

