.header__subtitle {
  margin: 0;
  flex-direction: column;
  position: absolute;
  bottom: 30px;
  left: 64px;
  z-index: 2;
  justify-content: center;
  align-items: flex-start;
  max-width: 388px;
  line-height: 25px;
  font-size: 18px;
  font-style: normal;
}
